<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Image Asset(s)</title>
		<!-- css begin -->
		<link rel="stylesheet" href="/public/css/render.css" />
		<!-- css end -->
	</head>
	<body>

		<div class="doc-wrap">
		<!-- doc-wrap begin -->

			<a href="/">Content Delivery Network Asset(s)</a>
			<h1>Image Asset(s)</h1>
			<h2>Logo(s)</h2>
			<div class="grid-a">
			<!-- grid-a begin -->
		
				<div class="row">
				<!-- row begin -->
					<div class="block-a">
						google
					</div>
					<div class="block-b">
						<a href="/cdn/asset/image/logo/google.png">/cdn/asset/image/logo/google.png</a>
					</div>
				<!-- row end -->
				</div>

			<!-- grid-a end -->
			</div>
			<hr />

		<!-- doc-wrap end -->
		</div>

		<!-- script begin -->
		<!-- <script src="/public/scripts/main.js"></script> -->
		<!-- script end -->
	</body>
</html>
