<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>JSON Asset(s)</title>
		<!-- css begin -->
		<link rel="stylesheet" href="/public/css/render.css" />
		<!-- css end -->
	</head>
	<body>

		<div class="doc-wrap">
		<!-- doc-wrap begin -->
			<a href="/">Content Delivery Network Asset(s)</a>
			<h1>JSON Asset(s)</h1>
			<div class="grid-a">
			<!-- grid-a begin -->

				<div class="row">
				<!-- row begin -->
					<div class="block-a">
						week
					</div>
					<div class="block-b">
						<a href="/cdn/asset/json/week.json">/cdn/asset/json/week.json</a>
					</div>

					<div class="block-a">
						planets
					</div>
					<div class="block-b">
						<a href="/cdn/asset/json/planets.json">/cdn/asset/json/planets.json</a>
					</div>
				<!-- row end -->
				</div>				

			<!-- grid-a end -->
			</div>
			<hr />
			
		<!-- doc-wrap end -->
		</div>

		<!-- script begin -->
		<!-- <script src="/public/scripts/main.js"></script> -->
		<!-- script end -->
	</body>
</html>
