<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Script Asset(s)</title>
		<!-- css begin -->
		<link rel="stylesheet" href="/public/css/render.css" />
		<!-- css end -->
	</head>
	<body>

		<div class="doc-wrap">
		<!-- doc-wrap begin -->

			<a href="/">Content Delivery Network Asset(s)</a>
			<h1>Scipt Asset(s)</h1>
			<h2>Library(s)</h2>
			<div class="grid-a">
			<!-- grid-a begin -->

				<div class="row">
				<!-- row begin -->
					<div class="block-a">
						jquery 2.1.1 
					</div>
					<div class="block-b">
						<a href="/cdn/asset/script/lib/jquery/jquery-2.1.1.js">/cdn/asset/script/lib/jquery/jquery-2.1.1.js</a>
					</div>
				<!-- row end -->
				</div>

				<div class="row">
				<!-- row begin -->
					<div class="block-a">
						jquery 2.1.1 minified
					</div>
					<div class="block-b">
						<a href="/cdn/asset/script/lib/jquery/jquery-2.1.1.min.js">/cdn/asset/script/lib/jquery/jquery-2.1.1.min.js</a>
					</div>
				<!-- row end -->
				</div>
		
				<div class="row">
				<!-- row begin -->
					<div class="block-a">
						jquery 1.11.1 
					</div>
					<div class="block-b">
						<a href="/cdn/asset/script/lib/jquery/jquery-1.11.1.js">/cdn/asset/script/lib/jquery/jquery-1.11.1.js</a>
					</div>
				<!-- row end -->
				</div>

				<div class="row">
				<!-- row begin -->
					<div class="block-a">
						jquery 1.11.1 minified
					</div>
					<div class="block-b">
						<a href="/cdn/asset/script/lib/jquery/jquery-1.11.1.min.js">/cdn/asset/script/lib/jquery/jquery-1.11.1.min.js</a>
					</div>
				<!-- row end -->
				</div>

			<!-- grid-a end -->
			</div>
			<hr />
			
		<!-- doc-wrap end -->
		</div>

		<!-- script begin -->
		<!-- <script src="/public/scripts/main.js"></script> -->
		<!-- script end -->
	</body>
</html>
